<div class="nav-bar">
  <div class="col-lg-4">
    <p>LGPD CheckList</p>
  </div>

  <div class="col-lg-8">
    <nav>
      <ul class="menu">
        <li>Info 1</li>
        <li>Info 2</li>
        <li>Info 3</li>
      </ul>
    </nav>
  </div>
</div>
