<h1>Consumidor 1</h1>


<p class="intro">
A melhor forma de trabalhar com a LGPD é mudar o seu foco,  e entender em primeiro lugar, como o consumidor se relacionará contigo e com o seu sisetema, para então você realizar as alterações necessárias na sua forma de trabalhar de acordo com as suas necessidades.

</p>
<p>Nesta perspectiva de usuário, vamos começar respondendo o seguinte:</p>

<fieldset>
  <legend class="col-form-label pt-0" id="q1"><b>Eu sei, de forma clara, ao me cadastrar no sistema
quando existe um tratamento de dados? </b></legend>
    <input type="radio" id="sim" name="fav_language" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="fav_language" value="nao">
    <label for="nao">Não</label><br>
</fieldset>


