<h1>Consumidor 1</h1>


<p class="intro">
A melhor forma de trabalhar com a LGPD é mudar o seu foco,  e entender em primeiro lugar, como o consumidor se relacionará contigo e com o seu sisetema, para então você realizar as alterações necessárias na sua forma de trabalhar de acordo com as suas necessidades.

</p>
<p>Nesta perspectiva de usuário, vamos começar respondendo o seguinte:</p>

<fieldset>
  <legend class="col-form-label pt-0" id="q1"><b>Eu sei, de forma clara, ao me cadastrar no sistema
quando existe um tratamento de dados? </b></legend>
    <input type="radio" id="sim" name="q1" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="q1" value="nao">
    <label for="nao">Não</label><br>
</fieldset>

<h1>Consumidor 2</h1>

<h2>Seu sistema está sendo claro ao informar:</h2>

<fieldset>
  <legend class="col-form-label pt-0" id="q2"><b>
  finalidade específica do uso dos dados:
  </b></legend>
    <input type="radio" id="sim" name="q2" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="q2" value="nao">
    <label for="nao">Não</label><br>
</fieldset>

<fieldset>
  <legend class="col-form-label pt-0" id="q3"><b>
  forma e duração do uso dos dados:
  </b></legend>
    <input type="radio" id="sim" name="q3" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="q3" value="nao">
    <label for="nao">Não</label><br>
</fieldset>

<fieldset>
  <legend class="col-form-label pt-0" id="q4"><b>
  identificação, infomrações de contato:
  </b></legend>
    <input type="radio" id="sim" name="q4" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="q4" value="nao">
    <label for="nao">Não</label><br>
</fieldset>

<fieldset>
  <legend class="col-form-label pt-0" id="q5"><b>
  compartilhamento de dados e as finalidades do uso de dados:
  </b></legend>
    <input type="radio" id="sim" name="q5" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="q5" value="nao">
    <label for="nao">Não</label><br>
</fieldset>

<fieldset>
  <legend class="col-form-label pt-0" id="q6"><b>
  responsabilidades:
  </b></legend>
    <input type="radio" id="sim" name="q6" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="q6" value="nao">
    <label for="nao">Não</label><br>
</fieldset>

<fieldset>
  <legend class="col-form-label pt-0" id="q7"><b>
  direitos do titular incluindo todos do artigo 18 da LGPD:
  </b></legend>
    <input type="radio" id="sim" name="q7" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="q7" value="nao">
    <label for="nao">Não</label><br>
</fieldset>

<fieldset>
  <legend class="col-form-label pt-0" id="q8"><b>
  Após cadastrado no sistema, eu consigo saber, de forma imediata, quais são os dados que o sistema possui sobre mim?:
  </b></legend>
    <input type="radio" id="sim" name="q8" value="sim">
    <label for="sim">Sim</label><br>
    <input type="radio" id="nao" name="q8" value="nao">
    <label for="nao">Não</label><br>
</fieldset>

